<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增用户页面</title>
</head>
<body>
<form action="addSave" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
    </table>
    <tr>
        <td colspan="2">
            <input type="submit" value="保存">
        </td>
    </tr>

</form>
</body>
</html>