<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑用户页面</title>
</head>
<body>
<form action="keytableexchange" method="post">
<table>
    <tr>
        <td>编号：</td>
        <td>
            <input type="text" name="id" readonly th:value="${keytable.id}">
        </td>
    </tr>
    <tr>
        <td>用户名：</td>
        <td>
            <input type="text" name="name" th:value="${keytable.name}">
        </td>
    </tr>
    <tr>
        <td>密码：</td>
        <td>
            <input type="text" name="password" th:value="${keytable.password}">
        </td>
    </tr>
    <tr>
        <td>性别：</td>
        <td>
            <input type="text" name="sex" th:value="${keytable.sex}">
        </td>
    </tr>
    <tr>
        <td>年龄：</td>
        <td>
            <input type="text" name="age" th:value="${keytable.age}">
        </td>
    </tr>
    <tr>
        <td>邮箱：</td>
        <td>
            <input type="text" name="email" th:value="${keytable.email}">
        </td>
    </tr>
</table>
    <tr>
        <td colspan="2">
            <input type="submit" value="保存">
        </td>
    </tr>
</form>
</body>
</html>