<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/login.css" media="screen" type="text/css" />
</head>
<body>
<!--表单是用来提交用户数据的-->
<form action="yy" method="post">
    <div class="border-radius"></div>
    用户名：<input type="text" name="username" placeholder="请输入用户名"><br>
    密码：<input type="password" name="uerpassword" placeholder="请输入密码"/><br>
    <input type="submit" value="提交" class="btn">
</form>
<a href="https://www.runoob.com/html/html-forms.html">超链接，网页跳转</a>
</body>
</html>